################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AltinnAccessManager/.vs
/src/AltinnAccessManager/AltinnAccessManager.Server/obj
