################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AltinnAccessManager/.vs
/src/AltinnAccessManager/AltinnAccessManager.Server/obj
/src/AltinnAccessManager/Altinn.Authorization.Api.Contracts/bin/Debug/net10.0
/src/AltinnAccessManager/Altinn.Authorization.Api.Contracts/obj
/src/AltinnAccessManager/AltinnAccessManager.Server/bin/Debug/net10.0
/src/AltinnAccessManager/ClassLibrary1/obj/Debug/net10.0
/src/AltinnAccessManager/altinnaccessmanager.client/obj/Debug
/src/AltinnAccessManager/AltinnAccessManager.Server/bin/Release/net10.0
/src/AltinnAccessManager/altinnaccessmanager.client/obj/Release
/src/AltinnAccessManager/AltinnAccessManager.Server/bin/CompiledSPA/net10.0
/src/AltinnAccessManager/altinnaccessmanager.client/obj/CompiledSPA
